<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=devidev-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Women Up Games - Unindo mulheres ao universo dos Jogos</title>
    <meta name="description" content="Women Up Games - Unindo mulheres ao universo dos jogos."/>
    <meta name="keywords" content="Women Up Games, Games, Women, Woman, Mulheres, Jogos, Games, Empoderamento feminino, female empowerment, campeonato" />

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Carrois+Gothic+SC|Didact+Gothic|Merienda|Press+Start+2P" rel="stylesheet">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%#= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="preloader">
      <div class="loader theme_background_color">
        <span></span>
      </div>
    </div>

    <div class="wrapper">
      <!-- NAVIGATION MENU -->
      <%= render partial: "navigation_menu" %>

      <!-- MAIN HEADING -->
      <%= render partial: "main_heading" %>

      <!-- ABOUT US -->
      <%= render partial: "about_us" %>

      <!-- RECENT WORKS -->
      <%= render partial: "recent_works" %>

      <!-- TEAM WUG -->
      <%= render partial: "team_wug" %>

      <!-- VOLUNTEERING -->
      <%= render partial: "volunteering" %>

      <!-- STATS -->
      <%= render partial: "stats" %>

      <!-- TESTIMONIAL -->
      <%= render partial: "testimonial" %>

      <!-- SERVICES -->
      <%= render partial: "services" %>

      <!-- CONTACT -->
      <%= render partial: "contact" %>

      <!-- FOOTER -->
      <%= render partial: "footer" %>

    </div>

  </body>

</html>
